[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[dev-packages]
pylint = "*"
rope = "*"

[packages]
"e1839a8" = {editable = true, path = "."}
matplotlib = "*"
"pyqt5" = "*"

[requires]
python_version = "3.5"
