[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[dev-packages]
pylint = "*"
rope = "*"

[packages]
matplotlib = "*"
"pyqt5" = "*"
openbabel = "*"
molecular-ribbon-builder = {path = ".",editable = true}

[requires]
python_version = "3.5"
